@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #fefefe !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #151515 !important;
  font-family: "Rubik" !important;
  color: #fefefe !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
